/*Comentarios en css*/


/*
Paleta de colores profesor
Rosa:#C6426E
Morado:#642B73
Negro:#999
Gris:#f5f5f5
*/


/*Mi paleta de colores
#9046B3
#FFDC96
#D57CFF
#63FFB4
#4FB383
#534CFF
*/

html {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #1213FF;
}

a:hover {
    opacity: 0.4;
}


/*
Se usa para aclarar el hipervinculo cuando este encima de el
a:hover
Si una pagina ya fue visitada anteriormente
a:visited
Se usa en botones y link y se activa cuando hace touch sobre el 
a:active
Cuando se requiere poner un foco en el link
a:focus
*/

img {
    max-width: 100%;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.container {
    background: #7474BF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 960px;
    width: 100%;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 1.8em;
    overflow: scroll;
}

.actions {
    position: absolute;
    top: 1em;
    right: 1em;
}

.close {
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #7474BF;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph {
    line-height: 1.2em;
    font-weight: 300;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table td,
.table th {
    padding: 1em;
    text-align: left;
}

table th {
    background-color: #B680FF;
}

.table tr:nth-child(odd) {
    background-color: #8B99FF;
}

.table tr:nth-child(even) {
    background-color: #74A0E8;
}

.fa-star {
    color: #FAFFFF;
}

.title-item {
    /* shorthan properties
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #C6426E; */
    font-size: 2em;
    border-bottom: solid 2px #8D5CFF;
    padding-bottom: 1em;
}

.position {
    background-color: #59C9FF;
    color: white;
    padding: 0.5em;
    border-radius: 10px;
    margin-right: 0.5em;
}

.address {
    font-weight: bold;
    color: #642b73;
    font-size: 1.2em;
    margin-top: 1em;
    display: inline-block;
}

.main-image {
    float: left;
    margin-right: 1em;
    height: 250px;
}

@media (max-width:600px) {
    .content {
        padding: 1em;
    }
    td {
        display: block;
        width: 100%;
    }
    td:nth-of-type(1) {
        font-size: 1.5em;
        font-weight: bold;
        color: white;
    }
    th {
        display: none;
    }
}

@media (min-heigth:550px) {
    .content {
        height: 500px;
    }
}